//Ajuste de contenido
.h-screen {
    height: 100vh;
}


// Estilos de la pantalla principal
.page-section {
    padding: 6rem 0;
}

.page-section h2.section-heading,
.page-section .section-heading.h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.page-section h3.section-subheading,
.page-section .section-subheading.h3 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;

    margin-bottom: 4rem;
}

@media (min-width: 768px) {
    section {
        padding: 9rem 0;
    }
}

#mainNav {
    padding: 15px 10px;
    background: rgba(255, 255, 255, 0.91);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(255, 255, 255, 0.28);
    margin-bottom: 40px;
}

.navbar-btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
    border: none; }

#mainNav .navbar-toggler {
    padding: 0.75rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
}

#mainNav .navbar-brand {
    width: 228.81px;
    height: 45px;
    background-image: url('../assets/img/navbar-logo.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: $primary;
}

header.masthead {
    padding-top: 13.5rem;
    padding-bottom: 9rem;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to bottom, rgba(129, 0, 65, 0.5) 0%, rgba(129, 0, 65, 0.2) 100%), url("../assets/img/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.masthead .masthead-subheading {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;

}

header.masthead .masthead-heading {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
    header.masthead {
        height: 100vh;
        padding-top: 19rem;
        padding-bottom: 12.5rem;
    }

    header.masthead .masthead-subheading {
        font-size: 2.25rem;
        font-style: italic;
        line-height: 2.25rem;
        margin-bottom: 2rem;
    }

    header.masthead .masthead-heading {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 4.5rem;
        margin-bottom: 4rem;
    }
}

@media (min-width: 1200px) {
    header.masthead h1, header.masthead .h1 {
        font-size: 3.5rem;
    }
}

.modulo {
    position: relative;
    padding: 0;
    list-style: none;
}

.modulo:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
}

.modulo>li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}

.modulo>li:after,
.modulo>li:before {
    display: table;
    content: " ";
}

.modulo>li:after {
    clear: both;
}

.modulo>li .modulo-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.modulo>li .modulo-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.modulo>li .modulo-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.modulo>li .modulo-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: $primary;
}

.modulo>li .modulo-image h4,
.modulo>li .modulo-image .h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
}

.modulo>li.modulo-inverted>.modulo-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.modulo>li.modulo-inverted>.modulo-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.modulo>li.modulo-inverted>.modulo-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.modulo>li:last-child {
    margin-bottom: 0;
}

.modulo .modulo-heading h4,
.modulo .modulo-heading .h4 {
    margin-top: 0;
    color: inherit;
}

.modulo .modulo-heading h4.subheading,
.modulo .modulo-heading .subheading.h4 {
    text-transform: none;
}

.modulo .modulo-body>ul,
.modulo .modulo-body>p {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .modulo:before {
        left: 50%;
    }

    .modulo>li {
        min-height: 100px;
        margin-bottom: 100px;
    }

    .modulo>li .modulo-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .modulo>li .modulo-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .modulo>li .modulo-image h4,
    .modulo>li .modulo-image .h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px;
    }

    .modulo>li.modulo-inverted>.modulo-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .modulo>li {
        min-height: 150px;
    }

    .modulo>li .modulo-panel {
        padding: 0 20px 20px;
    }

    .modulo>li .modulo-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .modulo>li .modulo-image h4,
    .modulo>li .modulo-image .h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 30px;
    }

    .modulo>li.modulo-inverted>.modulo-panel {
        padding: 0 20px 20px;
    }
}

@media (min-width: 1200px) {
    .modulo>li {
        min-height: 170px;
    }

    .modulo>li .modulo-panel {
        padding: 0 20px 20px 100px;
    }

    .modulo>li .modulo-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .modulo>li .modulo-image h4,
    .modulo>li .modulo-image .h4 {
        margin-top: 40px;
    }

    .modulo>li.modulo-inverted>.modulo-panel {
        padding: 0 100px 20px 20px;
    }
}

.img-brand {
    height: 2.75rem;
}

.img-responsive {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
}

@media (min-width: 920px) {
    .with-sidebar {
        padding-left: 300px !important;
    }
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: $primary;
}
a:hover, a:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
button:hover, button:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0; }

.wrapper {
    width: 100%; }

#sidebar {
    min-width: 300px;
    max-width: 300px;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    overflow-y: auto;
    z-index: 1;
}
#sidebar.show {
    margin-left: -300px; }
#sidebar .logo {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto; }
#sidebar .logo span {
    display: block; }
#sidebar ul.components {
    padding: 0; }
#sidebar ul li {
    font-size: 16px; }
#sidebar ul li > ul {
    margin-left: 10px; }
#sidebar ul li > ul li {
    font-size: 14px;
    text-decoration: none;
}
#sidebar ul li a {
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-decoration: none;
    color: $text-muted;
}
#sidebar ul li a:hover {
    color: $primary; }
#sidebar ul li.active > a {
    background: transparent;
    color: $primary; }
@media (max-width: 991.98px) {
    #sidebar {
        margin-left: -300px; }
    #sidebar.show {
        margin-left: 0; } }

.sidebar-content{
    padding: 5rem 3rem 0rem 3rem;
}

a[data-bs-toggle="dropdown"] {
    position: relative; }

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 991.98px) {
    #sidebarCollapse span {
        display: none; } }

#content {
    width: 100%;
    min-width: 280px;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
}
