//Ajuste de contenido
.h-screen {
    height: 100vh;
}

// Estilos para tabla
.table-hover tbody tr:hover {
    background-color: var(--color-hover, $hover_color);
}

// Estilos de la pantalla principal
.page-section {
    padding: 6rem 0;
}

.page-section h2.section-heading,
.page-section .section-heading.h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.page-section h3.section-subheading,
.page-section .section-subheading.h3 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;

    margin-bottom: 4rem;
}

@media (min-width: 768px) {
    section {
        padding: 9rem 0;
    }
}

[data-bs-theme="dark"] #mainNav {
    padding: 15px 10px;
    background: rgba($bg_dark, 0.80);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn,
        rgba(121,46,137,1) 0%, rgba(121,46,137,1) 10%,
        rgba(190,95,164,1) 10%, rgba(190,95,164,1) 22%,
        rgba(237,82,147,1) 22%, rgba(237,82,147,1) 30%,
        rgba(22,164,221,1) 30%, rgba(22,164,221,1) 34%,
        rgba(150,201,67,1) 34%, rgba(150,201,67,1) 58%,
        rgba(251,205,39,1) 58%, rgba(251,205,39,1) 66%,
        rgba(249,158,37,1) 66%, rgba(249,158,37,1) 78%,
        rgba(232,37,75,1) 78%, rgba(232,37,75,1) 94%,
        rgba(240,99,120,1) 94%, rgba(240,99,120,1) 100%);
    border-image-slice: 1;
    width: 100%;
    margin-bottom: 40px;
    z-index: 1;
}

#mainNav {
    padding: 15px 10px;
    background: rgba(255, 255, 255, 0.91);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn,
        rgba(121,46,137,1) 0%, rgba(121,46,137,1) 10%,
        rgba(190,95,164,1) 10%, rgba(190,95,164,1) 22%,
        rgba(237,82,147,1) 22%, rgba(237,82,147,1) 30%,
        rgba(22,164,221,1) 30%, rgba(22,164,221,1) 34%,
        rgba(150,201,67,1) 34%, rgba(150,201,67,1) 58%,
        rgba(251,205,39,1) 58%, rgba(251,205,39,1) 66%,
        rgba(249,158,37,1) 66%, rgba(249,158,37,1) 78%,
        rgba(232,37,75,1) 78%, rgba(232,37,75,1) 94%,
        rgba(240,99,120,1) 94%, rgba(240,99,120,1) 100%);
    border-image-slice: 1;
    width:100%;
    margin-bottom: 40px;
    z-index: 1;
}

.navbar-btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
    border: none; }

#mainNav .navbar-toggler {
    padding: 0.75rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
}

[data-bs-theme="dark"] #mainNav .navbar-brand {
    width: 228.81px;
    height: 45px;
    background-image: url('../assets/img/dark-navbar-logo-veda.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#mainNav .navbar-brand {
    width: 228.81px;
    height: 45px;
    background-image: url('../assets/img/navbar-logo.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: $primary;
}

header.masthead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 77px;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to bottom, rgba($primary, 0.8) 0%, rgba($primary_, 0.1) 100%), url("../assets/img/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.masthead .masthead-subheading {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
}

header.masthead .masthead-heading {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    header.masthead {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding-top: 77px;
    }

    header.masthead .masthead-subheading {
        font-size: 2.25rem;
        font-style: italic;
        line-height: 2.25rem;
        margin-bottom: 2rem;
    }

    header.masthead .masthead-heading {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 4.5rem;
        margin-bottom: 4rem;
    }
}

@media (min-width: 1200px) {
    header.masthead h1, header.masthead .h1 {
        font-size: 3.5rem;
    }
}

.modulo {
    position: relative;
    padding: 0;
    list-style: none;
}

.modulo:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
}

.modulo>li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}

.modulo>li:after,
.modulo>li:before {
    display: table;
    content: " ";
}

.modulo>li:after {
    clear: both;
}

.modulo>li .modulo-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.modulo>li .modulo-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.modulo>li .modulo-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.modulo>li .modulo-image {
    position: absolute;
    z-index: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: $primary;
}

.modulo>li .modulo-image h4,
.modulo>li .modulo-image .h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
}

.modulo>li.modulo-inverted>.modulo-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.modulo>li.modulo-inverted>.modulo-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.modulo>li.modulo-inverted>.modulo-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.modulo>li:last-child {
    margin-bottom: 0;
}

.modulo .modulo-heading h4,
.modulo .modulo-heading .h4 {
    margin-top: 0;
    color: inherit;
}

.modulo .modulo-heading h4.subheading,
.modulo .modulo-heading .subheading.h4 {
    text-transform: none;
}

.modulo .modulo-body>ul,
.modulo .modulo-body>p {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .modulo:before {
        left: 50%;
    }

    .modulo>li {
        min-height: 100px;
        margin-bottom: 100px;
    }

    .modulo>li .modulo-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .modulo>li .modulo-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .modulo>li .modulo-image h4,
    .modulo>li .modulo-image .h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px;
    }

    .modulo>li.modulo-inverted>.modulo-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .modulo>li {
        min-height: 150px;
    }

    .modulo>li .modulo-panel {
        padding: 0 20px 20px;
    }

    .modulo>li .modulo-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .modulo>li .modulo-image h4,
    .modulo>li .modulo-image .h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 30px;
    }

    .modulo>li.modulo-inverted>.modulo-panel {
        padding: 0 20px 20px;
    }
}

@media (min-width: 1200px) {
    .modulo>li {
        min-height: 170px;
    }

    .modulo>li .modulo-panel {
        padding: 0 20px 20px 100px;
    }

    .modulo>li .modulo-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .modulo>li .modulo-image h4,
    .modulo>li .modulo-image .h4 {
        margin-top: 40px;
    }

    .modulo>li.modulo-inverted>.modulo-panel {
        padding: 0 100px 20px 20px;
    }
}

.img-brand {
    height: 2.75rem;
}

.img-responsive {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
}

@media (min-width: 920px) {
    .with-sidebar {
        padding-left: 300px !important;
    }
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0; }

.wrapper {
    width: 100%; }

#sidebar {
    min-width: 300px;
    max-width: 300px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    overflow-y: auto;
    z-index: 2;
}

#sidebar.show {
    margin-left: -300px;
}

#sidebar .logo {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

#sidebar .logo span {
    display: block;
}

@media (max-width: 991.98px) {
    #sidebar {
        margin-left: -300px;
    }

    #sidebar.show {
        margin-left: 0;
    }
}

.btn-text-left {
    text-align: left;
}

.btn-sidebar {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.sidebar-content {
    padding: 5rem 1rem 3rem 1rem; //up left down right
    width: 100%;
}


@media (min-width: 200px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@media (max-width: 991.98px) {
    #sidebarCollapse span {
        display: none;
    }
}

#content {
    width: 100%;
    min-width: 375px;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
}

[data-bs-theme="dark"] .blur-bg {
    background: rgba($bg_dark, 0.80);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
}

.blur-bg {
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
}

[data-bs-theme="dark"] .dashboard-bg {
    background-image: linear-gradient(to bottom, rgba($bg_dark, 0.60) 0%, rgba($bg_dark, 0.20) 100%), url("../assets/img/dark-background-img.svg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}


.dashboard-bg {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.76) 0%, rgba(255, 255, 255, 0.45) 100%), url("../assets/img/background-img.svg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

/* "fusion"ER CSS */
.page-loader {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: #272727;
    z-index: 1000;

    .txt {
        color: #666;
        text-align: center;
        top: 40%;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-weight: bold;
        line-height: 1.5;
    }
}

/* Estilos para la pantalla de carga */
.loader-container {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    -webkit-backdrop-filter: grayscale(100%);
}

.loader-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.32);
    border-left-color: #ffffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.separador-footer {
    border-left: 1px solid #a1a1a1;
    height: 100%;
    display: inline-block;
}

.border-left-primary {
    border-left: .25rem solid $primary !important
}

.border-bottom-primary {
    border-bottom: .25rem solid $primary !important
}

.border-left-secondary {
    border-left: .25rem solid #858796 !important
}

.border-bottom-secondary {
    border-bottom: .25rem solid #858796 !important
}

.border-left-success {
    border-left: .25rem solid $success !important
}

.border-bottom-success {
    border-bottom: .25rem solid $success !important
}

.border-left-info {
    border-left: .25rem solid $info !important
}

.border-bottom-info {
    border-bottom: .25rem solid $info !important
}

.border-left-warning {
    border-left: .25rem solid $warning !important
}

.border-bottom-warning {
    border-bottom: .25rem solid $warning !important
}

.border-left-danger {
    border-left: .25rem solid $danger !important
}

.border-bottom-danger {
    border-bottom: .25rem solid $danger !important
}

.grafica-responsive {
    position: relative;
    text-align: left;
    line-height: normal;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    border: none;
    direction: ltr;
    transform: none;
}

.table td {
    background-color: transparent;
}

.table th {
    background-color: transparent;
}

.table.custom-table td,
th {
    background-color: transparent;
}
