// Typography
$font-family-sans-serif: 'Albert Sans', sans-serif;

$font-size-base: 0.9rem;
$line-height-base: 1.6;
$enable-responsive-font-sizes: true;
$enable-gradients: false;

// Colors
$primary: #79277E;
$primary_: #511856;

$bg_dark: #222529;
$hover_color: rgba($primary, 0.1);

$danger: #f27474;
$success: #a5dc86;
$warning: #f8bb86;
$info: #3fc3ee;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
