// Typography
$font-family-sans-serif: 'Albert Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$enable-responsive-font-sizes: true;
$enable-gradients: false;

// Colors
$primary: #9f2241;
$primary_: #c7506e;

$golden: #BC965C;
$golden_hover: #836940;

$bg_dark: #222529;
$hover_color: rgba($primary, 0.1);

$danger: #E1143D;
$success: #9DC323;
$warning: #FCCD00;
$info: #26A2DC;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
