// Fonts
@import url(https://fonts.bunny.net/css?family=albert-sans:400);

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//Fonts Awesome
@import "@fortawesome/fontawesome-free/css/all.css";

//Estilos
@import "estilos";
